---
layout: default
title: 自我健康管理檢視計畫問卷
permalink: /hiva/
---

<h4 class="center-align" data-i18n="title">自我健康管理問卷</h4>
<form id="questionnaire-form">

  <!-- 篩檢須知 -->
  {% include questionnaire/agreement.html %}

  <!-- 風險評估 -->
  {% include questionnaire/risk.html %}

  <!-- 基本資料 -->
  {% include questionnaire/profile.html %}

  <!-- 篩檢結果 -->
  {% include questionnaire/result.html %}

  <!-- 送出 -->
  <div class="center-align space-y-2" style="margin:20px;">
    <button class="btn waves-effect waves-light hover:border-transparent" type="submit" data-i18n="submit">送出問卷
      <i class="material-icons right">send</i>
    </button>
  </div>
</form>
