<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="#" aria-label="開啟快捷工具">
      <i class="material-icons notranslate" translate="no" aria-hidden="true">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating blue tooltipped" data-tooltip="回到頂端" aria-label="回到頂端" href="#main-content" onclick="scrollToTop(event)"><i class="material-icons notranslate" translate="no" aria-hidden="true">arrow_upward</i></a></li>
      <li><a class="btn-floating green tooltipped" data-tooltip="關於中心" aria-label="關於中心" href="{{ '/about/' | relative_url }}"><i class="material-icons notranslate" translate="no" aria-hidden="true">info</i></a></li>
      <li><a class="btn-floating orange tooltipped" data-tooltip="活動資訊" aria-label="活動資訊" href="{{ '/activity/' | relative_url }}"><i class="material-icons notranslate" translate="no" aria-hidden="true">event</i></a></li>
      <li><a class="btn-floating purple tooltipped" data-tooltip="官方資訊" aria-label="官方資訊" href="https://www.gisneyland.org/about/info" target="_blank" rel="noopener noreferrer"><i class="material-icons notranslate" translate="no" aria-hidden="true">link</i></a></li>
    </ul>
  </div>
