<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="#" aria-label="開啟快捷工具">
      <i class="material-icons" aria-hidden="true">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating blue tooltipped" data-tooltip="回到頂端" aria-label="回到頂端" href="#main-content" onclick="scrollToTop(event)"><i class="material-icons" aria-hidden="true">arrow_upward</i></a></li>
      <li><a class="btn-floating green tooltipped" data-tooltip="聯絡我們" aria-label="聯絡我們" href="https://www.facebook.com/GisneyLandHSC/"><i class="material-icons" aria-hidden="true">email</i></a></li>
    </ul>
  </div>
