<div>
  <nav class="bottom-nav fixed bottom-0 left-0 right-0 h-16 flex justify-around items-center 
            bg-gradient-to-r from-red-600 via-yellow-400 to-blue-600 text-white">
    <a href="/" class="flex-1 text-center hover:bg-white/20"><i class="material-icons">home</i><br><span data-i18n="homepage">首頁</span></a>
    <a href="/pride/" class="flex-1 text-center hover:bg-white/20"><i class="material-icons">celebration</i><br><span data-i18n="pride">彩虹文化祭</span></a>
    <a href="/screening/" class="flex-1 text-center hover:bg-white/20"><i class="material-icons">favorite</i><br><span data-i18n="screening">篩檢</span></a>
    <a href="/activity/" class="flex-1 text-center hover:bg-white/20"><i class="material-icons">event</i><br><span data-i18n="activity">活動</span></a>
  </nav>
</div>
