<div class="card"class="space-y-12">
    <div class="card-content">
      <span class="card-title" data-i18n="notice_title">篩檢須知</span>
        <span data-i18n="notice_paragraph">您好，<br>
            定期檢視自我健康，可以提升傳染疾病的預防知識並降低感染風險。快速篩檢結果若為陽性，將由篩檢人員協助轉介醫療服務。<br>
            所有篩檢資料皆保密，敬請放心，謝謝。<br>
            <label class="text-right">財團法人紅絲帶基金會</label></span>
      <div class="input-field">
        <input type="text" name="nickname" id="nickname">
        <label for="nickname" data-i18n="nickname">暱稱</label>
      </div>
      <p>
        <label>
          <input type="checkbox" name="agreement" />
          <span data-i18n="agreement">我同意且配合扎針採血的快速篩檢諮詢以及陽性轉介服務。</span>
        </label>
        <label>
          <input type="checkbox" name="agreement_undetectable" />
          <span data-i18n="agreement_undetectable">我已知悉篩檢試劑空窗期間測不到抗原或抗體。</span>
        </label>
      </p>
        <!-- <div class="input-field">
            <label for="frequency_screening">篩檢頻率</label> -->
            <div>
              <label for="frequency_screening">篩檢頻率</label>
              <input type="range" id="frequency_screening" name="frequency_screening" min="-1" max="1" step="1">
              <div class="flex justify-between text-sm mt-2">
                <span data-i18n="frequency_screening_never">從未篩檢</span>
                <span data-i18n="frequency_screening_oftenly">偶爾篩檢</span>
                <span data-i18n="frequency_screening_regularly">定期篩檢</span>
              </div>
            <!-- </div>
            <input type="range" id="frequency_screening" name="frequency_screening" min="-1" max="1" list="frequency_screening_markers">
            <datalist id="frequency_screening_markers">
             <option value="-1"><label><span data-i18n="frequency_screening_never">從未篩檢</span></label></option>
             <option value="0"><label><span data-i18n="frequency_screening_oftenly">偶爾篩檢</span><label></option>
             <option value="1"><label><span data-i18n="frequency_screening_regularly">定期篩檢</span><label></option>
            </datalist>　-->
         </div>
      <div class="input-field">
        <p>
        <input type="month" name="last_screening_at" id="last_screening_at">
        <label for="last_screening_at" data-i18n="last_screening">最近一次篩檢日期</label>
        </p>
      </div>
    </div>
  </div>
