<div class="card"class="space-y-12">
    <div class="card-content">
      <span class="card-title" data-i18n="basic_info">篩檢須知</span>
      <div class="input-field">
        <input type="text" name="nickname" id="nickname">
        <label for="nickname" data-i18n="nickname">暱稱</label>
      </div>
      <p>
        <label>
          <input type="checkbox" name="agreement" />
          <span data-i18n="agreement">我同意篩檢員採集我的血液作為篩檢所需生物樣本，並在篩檢試劑判定結果為陽性時，由篩檢單位轉介醫療單位。</span>
        </label>
        <label>
          <input type="checkbox" name="agreement_undetectable" />
          <span data-i18n="agreement_undetectable">我已知悉 HIV 篩檢試劑有一個月的空窗期與三個月的空窗期，梅毒篩檢試劑有一個月的空窗期。空窗期表示試劑測不到抗原或抗體的時期。</span>
        </label>
      </p>
      <div class="input-field">
        <p>
        <input type="date" name="last_screening_at" id="last_screening_at">
        <label for="last_screening_at" data-i18n="last_screening">最近一次篩檢日期</label>
        </p>
      </div>
    </div>
  </div>
