<div class="card">
<!-- 性別 -->
    <div class="card-content">
      <span class="card-title" data-i18n="gender">性別</span>
      <p>
        <label><input type="radio" name="gender" /><span data-i18n="cisman">順性別男性</span></label>
        <label><input type="radio" name="gender" /><span data-i18n="ciswoman">順性別女性</span></label>
        <label><input type="radio" name="gender" /><span data-i18n="transman">跨性別男性</span></label>
        <label><input type="radio" name="gender" /><span data-i18n="transwoman">跨性別女性</span></label>
        <label><input type="radio" name="gender" /><span data-i18n="nonbinary">非二元性別</span></label>
          <div class="input-field">
            <input type="text" name="gender" id="gender">
            <label for="gender" data-i18n="gender_others">其他</label>
          </div>
      </p>
    </div>

  <!-- 性傾向 -->
    <div class="card-content">
      <span class="card-title" data-i18n="orientation">性傾向</span>
      <p>
        <label><input type="radio" name="orientation" /><span data-i18n="heterosexual">異性戀</span></label>
        <label><input type="radio" name="orientation" /><span data-i18n="homosexual">同性戀</span></label>
        <label><input type="radio" name="orientation" /><span data-i18n="bisexual">雙性戀</span></label>
        <label><input type="radio" name="orientation" /><span data-i18n="orientation_others">其他</span></label>
          <div class="input-field">
            <input type="text" name="orientation" id="orientation">
            <label for="orientation" data-i18n="orientation_others">其他</label>
          </div>
      </p>
    </div>

  <!-- 教育程度 -->
    <div class="card-content">
      <span class="card-title" data-i18n="education">教育程度</span>
      <p>
        <label><input type="radio" name="education" /><span data-i18n="illiterate">小學以下</span></label>
        <label><input type="radio" name="education" /><span data-i18n="primary">小學</span></label>
        <label><input type="radio" name="education" /><span data-i18n="junior_high">國中</span></label>
        <label><input type="radio" name="education" /><span data-i18n="senior_high">高中</span></label>
        <label><input type="radio" name="education" /><span data-i18n="university">大學</span></label>
        <label><input type="radio" name="education" /><span data-i18n="master">碩士</span></label>
        <label><input type="radio" name="education" /><span data-i18n="phd">博士以上</span></label>
      </p>
    </div>

  <!-- 居住地 -->
    <div class="card-content">
      <span class="card-title" data-i18n="residence">居住地</span>
      <p>        
        <label for="residence"></label>
          <select id="residence" name="residence" >
            <option value="hsinchu_city"><span data-i18n="hsinchu_city">新竹市</span></option>
            <option value="hsinchu_county"><span data-i18n="hsinchu_county">新竹縣</span></option>
            <option value="miaoli_county"><span data-i18n="miaoli_county">苗栗縣</span></option>
            <option value="taoyuan_city"><span data-i18n="taoyuan_city">桃園市</span></option>
            <option value="others"><span data-i18n="residence_others">其他</span></option> 
          </select>
              <div class="input-field">
                <input type="text" name="residence" id="residence">
                <label for="residence" data-i18n="residence_others">其他</label>
              </div>
      </p>
    </div>
  </div>
</div>
