<div class="card space-y-12">
  <div class="card-content">
    <span class="card-title" data-i18n="risk_title">風險評估</span>
  </div>
    <div class="card-content">
        <span class="card-title" data-i18n="risk_relationship_title">性偏好</span>
        <p>
          <span class="text-lg" data-i18n="frequency_sex">一年內有與人發生陰道交、肛交或口交的性行為。</span>
          <label><input type="radio" name="frequency_sex" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_sex" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_condom">一年內每次陰道交、肛交或口交都<span class="text-underline">全程正確使用保險套</span>。</span>
          <label><input type="radio" name="frequency_condom" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_condom" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_closed_relationship">一年內每次性行為都<span class="text-underline">只跟固定性伴侶</span>發生。</span>
          <label><input type="radio" name="frequency_closed_relationship" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_closed_relationship" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_closed_relationship">固定性伴侶<span class="text-underline">是愛滋感染者</span>。</span>
          <label><input type="radio" name="closed_relationship_aids" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="closed_relationship_aids" /><span data-i18n="false">否</span></label>
          <label><input type="radio" name="closed_relationship_aids" /><span data-i18n="unknown">不知道</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_online_dating">最近一年內有<span class="text-underline">透過網路認識其他性伴侶並發生性行為</span>。</span>
          <label><input type="radio" name="frequency_online_dating" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_online_dating" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_public_dating">最近一年內有<span class="text-underline">透過三溫暖、酒吧、健身房等娛樂場所認識其他性伴侶並發生性行為</span>。</span>
          <label><input type="radio" name="frequency_public_dating" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_public_dating" /><span data-i18n="false">否</span></label>
        </p>      
        <p>
          <span class="text-lg" data-i18n="frequency_sex_work">最近一年內有<span class="text-underline">從事性工作、提供性交易服務</span>。</span>
          <label><input type="radio" name="frequency_sex_service" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_sex_service" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_sex_consumption">最近一年內有<span class="text-underline">進行性消費、買春</span>。</span>
          <label><input type="radio" name="frequency_sex_consumption" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_sex_consumption" /><span data-i18n="false">否</span></label>
        </p>        
      </div>
    <div class="card-content">
        <span class="card-title" data-i18n="risk_substance_title">物質使用</span>
        <p>
          <span class="text-lg" data-i18n="frequency_alcohol">一年內曾經在性行為前、後或過程中<span class="text-underline">飲酒</span>。</span>
          <label><input type="radio" name="frequency_alcohol" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_alcohol" /><span data-i18n="false">否</span></label>
        </p>      
        <p>
          <span class="text-lg" data-i18n="frequency_drug">一年內曾經在性行為前、後或過程中<span class="text-underline">使用娛樂性藥物</span>。</span>
          <label><input type="radio" name="frequency_drug" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_drug" /><span data-i18n="false">否</span></label>
        </p>      
        <p>
          <span class="text-lg" data-i18n="usage_drug">一年內曾經<span class="text-underline">使用成癮藥物</span>。</span>
          <label><input type="radio" name="usage_drug" /><span data-i18n="true">是</span></label>
            <label><input type="checkbox" name="drug_amphetamine" /><span data-i18n="drug_amphetamine">安非他命、甲基安非他命（冰、煙）</span></label>
              <label><input type="checkbox" name="drug_amphetamine_inhalant" /><span data-i18n="drug_amphetamine_inhalant">吸入劑</span></label>
              <label><input type="checkbox" name="drug_amphetamine_injection" /><span data-i18n="drug_amphetamine_injection">注射劑</span></label>
              <label><input type="checkbox" name="drug_amphetamine_oral" /><span data-i18n="drug_amphetamine_oral">口服劑</span></label>
            <label><input type="checkbox" name="drug_ghb" /><span data-i18n="drug_ghb">神仙水（G水、GHB）</span></label>
            <label><input type="checkbox" name="drug_mdma" /><span data-i18n="drug_mdma">搖頭丸（E、MDMA）</span></label>
            <label><input type="checkbox" name="drug_ketamine" /><span data-i18n="drug_ketamine">愷他命（K他命、K）</span></label>
            <label><input type="checkbox" name="drug_rush" /><span data-i18n="drug_rush">快樂水（Rush）</span></label>
            <label><input type="checkbox" name="drug_mephedrone" /><span data-i18n="drug_mephedrone">合成卡西酮類物質（喵喵）</span></label>
            <label><input type="checkbox" name="drug_heroin" /><span data-i18n="drug_heroin">海洛因</span></label>
            <label><input type="checkbox" name="drug_weed" /><span data-i18n="drug_weed">大麻（草、穴）</span></label>
            <label for="drug_others"><input type="text" name="drug_others" id="drug_others" /><span data-i18n="drug_others">其他</span></label>
          <label><input type="radio" name="usage_drug" /><span data-i18n="false">否</span></label>
        </p>      
        <p>
          <span class="text-lg" data-i18n="frequency_drug_now">現在還有持續<span class="text-underline">使用成癮藥物</span>。</span>
          <label><input type="radio" name="frequency_drug_now" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_drug_now" /><span data-i18n="false">否</span></label>
        </p>
      </div>
      <div class="card-content">
      <span class="card-title" data-i18n="risk_condition_title">風險控管</span>        
        <p>
          <span class="text-lg" data-i18n="frequency_std">一年內曾經<span class="text-underline">感染性病</span>。</span>
          <label><input type="radio" name="frequency_std" /><span data-i18n="true">是</span></label>
            <label><input type="checkbox" name="std_aids" /><span data-i18n="std_aids">愛滋</span></label>
              <label><input type="text" name="std_aids_reason" /><span data-i18n="std_aids_reason">再次篩檢的原因</span></label>
            <label><input type="checkbox" name="std_genital_warts" /><span data-i18n="std_genital_warts">菜花（尖形濕疣）</span></label>
            <label><input type="checkbox" name="std_syphilis" /><span data-i18n="std_syphilis">梅毒</span></label>
            <label><input type="checkbox" name="std_chlamydia" /><span data-i18n="std_chlamydia">披衣菌</span></label>
            <label><input type="checkbox" name="std_gonorrhea" /><span data-i18n="std_gonorrhea">淋病</span></label>
            <label><input type="checkbox" name="std_genital_herpes" /><span data-i18n="std_genital_herpes">性皰疹</span></label>
            <label><input type="checkbox" name="std_hepatitis_a" /><span data-i18n="std_hepatitis_a">A型肝炎</span></label>
            <label><input type="checkbox" name="std_hepatitis_c" /><span data-i18n="std_hepatitis_c">C型肝炎</span></label>
            <label><input type="text" name="std_others" /><span data-i18n="std_others">其他</span></label>
          <label><input type="radio" name="frequency_std" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_pep">最近一年內有<span class="text-underline">使用暴露愛滋病毒後預防性投藥（PEP）</span>。</span>
          <label><input type="radio" name="frequency_pep" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_pep" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_pep_willingness">發生高風險性行為72小時內<span class="text-underline">有意願</span>自費使用暴露愛滋病毒後預防性投藥（PEP），降低八成以上的愛滋感染風險。</span>
          <label><input type="radio" name="frequency_pep_willingness" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_pep_willingness" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_prep">有<span class="text-underline">聽過暴露愛滋病毒前預防性投藥（PrEP）</span>。</span>
          <label><input type="radio" name="frequency_prep" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_prep" /><span data-i18n="false">否</span></label>
        </p>
        <p>
          <span class="text-lg" data-i18n="frequency_prep_willingness"><span class="text-underline">有意願</span>使用暴露愛滋病毒前預防性投藥（PrEP）合併安全性行為，預防九成以上的愛滋感染風險。</span>
          <label><input type="radio" name="frequency_prep_willingness" /><span data-i18n="true">是</span></label>
          <label><input type="radio" name="frequency_prep_willingness" /><span data-i18n="false">否</span></label>
        </p>
      </div>
</div>
